
.body_upper_container{
    margin: 6% 4%;
}
.search_school_container{
    display: inline-flex;
}
.search_input{
    border-radius: 8px;
    background-color: #e3e3e3;
    outline: none;
    border: none;
    padding: 3px;
    font-family: 'helve';
    font-weight: bold;
    width: 300px;
}
.search_button{
    margin-right: -10px;
    color:#fff;
    background-color: #ffc83b;
    border-radius: 7px;
    font-weight: bold;
    height: 40px;
    width: 80px;
    text-align: center;
    display: block;
    text-decoration: none;
    border: none;
}

.all_school_button{
    float: left;
}
.all_school_arrow{
    font-weight: bold;
    font-family: 'system-ui';
}