.school_card_button{
    width: 100%;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    font-family: Helve;
}

.yel_button{
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #ffca36;
    color:white;
}
.yel_button:hover{
    background-color: #f8d062;
}