    body{
        font-family: helve;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .header_container{
        margin: auto;
        width: 80%;
        display: flex;
        padding: 5px;
        justify-content: space-between;
        align-items: center;
    }
    .logo_container{
        display: flex;
        align-items: center;
    }
    .logo_container img{
        width: 60px;
        height: 60px;
    }
    .logo_container .logo_text{
        margin: 3px;
    }
    .links_container{

    }

    .links_container ul li{
        list-style: none;
        display: inline;
        margin: 5px;
        font-size: 10px;
    }

    .links_container ul li a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

